#extension h2 {
	color: pink;
	margin-bottom: 0;
}
#extension h3 {
	margin:0 0 1em; padding: 0;
	font-size:small;
	color: #666;
}
#extension p.summary {
	margin: 0 0 1em; padding: 0;
	font-weight: bold;
}
#extension div.description {
	margin-bottom: 2em;
}
.input {
	margin-top: 10px;
}
.input label {
	font-weight: bold;
	font-size: 14px;	
}
div.maintainer {
	margin: 3px 0 20px;
	border: 1px dashed grey;
	padding: 5px;
	overflow: auto;
}
.maintainer button {
	font-size: 14px;
	font-weight: bold;
	padding: 3px 5px;
	margin: 5px 5px 5px 0;
	float: right;
	
}
div.buttons {
	margin: 10px 0 0;
	overflow: hidden;
}

a.add-maintainer {
	float: left;
	padding: .5em 1em;
	color: #000;
	background: #e6e6e6;
	font-size: 16px;
	font-weight: bold;
	-moz-box-shadow: inset 1px 1px 6px #a6a6a6;
	-webkit-box-shadow: inset 1px 1px 6px #a6a6a6;
	box-shadow: inset 1px 1px 6px #a6a6a6;
}

/** Tabs **/
ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.tabs li {
	display: inline-block;
	margin: 0;
	padding: .5em 1em;
	background: #f0f0f0;
	font-weight:bold;
}
.tab-page {
	background: #f0f0f0;
	padding: 1em;
}
.tab-page h3 {
	margin-top:0;
}
/** Forms **/
input, 
textarea {
	border:none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: .5em !important;
}
input:focus, 
textarea:focus {
	outline: none;
}
button,
input[type=submit], 
input[type=cancel], 
input[type=button] {
	font-size: 16px;
	font-weight: bold;
	padding: .5em !important;
	background: white;
	border: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 1px 1px 6px #a6a6a6;
	-webkit-box-shadow: 1px 1px 6px #a6a6a6;
	box-shadow: 1px 1px 6px #a6a6a6;
	display: inline-block;
	margin: .25em;
}
