#extension h2 {
	color: pink;
	margin-bottom: 0;
}
#extension h3 {
	margin:0 0 1em; padding: 0;
	font-size:small;
	color: #666;
}
#extension p.summary {
	margin: 0 0 1em; padding: 0;
	font-weight: bold;
}
#extension div.description {
	margin-bottom: 2em;
}
.input {
	margin-top: 10px;
}
.input label {
	font-weight: bold;
	font-size: 14px;	
}
div.maintainer {
	margin: 3px 0 20px;
	border: 1px dashed grey;
	padding: 5px;
	overflow: auto;
}
.maintainer button {
	font-size: 14px;
	font-weight: bold;
	padding: 3px 5px;
	margin: 5px 5px 5px 0;
	float: right;
	
}
div.buttons {
	margin: 10px 0 0;
	overflow: hidden;
}
.buttons input[type=submit] {
	float: left;	
	clear: none;
	display: block;
	margin: 0 5px;
}
a.add-maintainer {
	float: left;
	padding: .5em 1em;
	color: #000;
	background: #e6e6e6;
	font-size: 16px;
	font-weight: bold;
	-moz-box-shadow: inset 1px 1px 6px #a6a6a6;
	-webkit-box-shadow: inset 1px 1px 6px #a6a6a6;
	box-shadow: inset 1px 1px 6px #a6a6a6;
}