body.main {
	overflow: auto;
}

/** General **/
#header {
	padding-bottom: 2em;
}
.nav.capsule {
	margin-top: 75px;
}


.internal #header {
	display: block;
	padding-bottom: 0;
}
.internal #header h1 {
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 0;
}
.internal #header h1 a {
	display:inline-block;
	background:url(../img/li3-lab-small.png) no-repeat center center;
	width:200px;
	height:0;
	padding:126px 0 0 0;
	overflow:hidden;
}

input[type=submit] {
clear: both;
	display: inline;
}
input[type=submit] + input[type=submit] {
	margin-left: 1em;
}

#footer {
	clear:both;
}

/*--- Home ---*/
.home h1 {
	text-align:center;
}
.home #header h1 a {
	display:block;
	background:url(../img/li3-lab.png) no-repeat center center;
	width:400px;
	height:0;
	margin: 0 auto;
	padding:250px 0 0 0;
	overflow:hidden;
}

.home .nav.capsule {
	float: none;
	text-align: center;
}
.home .nav.capsule {
	display: block;
	width: 600px;
	margin: 0 auto;
}
.home .nav.capsule .add-plugin a {
	background: black url(../img/add-plugin.png) no-repeat center center;
}
.home .nav.capsule .add-extension a {
	background: black url(../img/add-extension.png) no-repeat center center;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
}
.home .nav.capsule .add-plugin a,
.home .nav.capsule .add-extension a {
	width: 240px;
	height: 0;
	padding: 56px 0 0 0;
	overflow: hidden;
}
.home .nav.capsule .all-plugins,
.home .nav.capsule .all-extensions {
	display: none;
}

.home .column {
	float:left;
	width:33%;
}


/** Extension **/

#extension .details {
	width:620px;
	float:left;
}
#extension h2 {
	display: inline-block;
	font-weight: normal;
	color: black;
	margin:.5em 0;
	padding-left:40px;
	background:url(../img/extension.png) no-repeat left center;
}
#extension h3.summary {
	padding-left: 40px;
}
h3.summary {
	margin-top: -0.3em;
	margin-bottom: 1em;
	color: #666;
}
#extension .meta h4 {
	font-size: 14px;
	margin: 0;
}
#extension .meta {
	width:300px;
	float: right;
	margin-top: 9.5em;
}

#extension .actions {
	background:#f0f0f0;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
}
#extension .actions a {
	display: inline-block;
	padding:.25em 1em;
	font-weight: bold;
}
#extension p.summary {
	margin: 0 0 1em; padding: 0;
	font-weight: bold;
}
#extension div.description {
	margin-bottom: 2em;
}
.input {
	margin-top: 10px;
}
.input label {
	font-weight: bold;
	font-size: 14px;
}
div.maintainer {
	margin: 3px 0 20px;
	border: 1px dashed grey;
	padding: 5px;
	overflow: auto;
}
.maintainer button {
	font-size: 14px;
	font-weight: bold;
	padding: 3px 5px;
	margin: 5px 5px 5px 0;
	float: right;

}
div.buttons {
	margin: 10px 0 0;
	overflow: hidden;
}

a.add-maintainer {
	float: left;
	padding: .5em 1em;
	color: #000;
	background: #e6e6e6;
	font-size: 16px;
	font-weight: bold;
	-moz-box-shadow: inset 1px 1px 6px #a6a6a6;
	-webkit-box-shadow: inset 1px 1px 6px #a6a6a6;
	box-shadow: inset 1px 1px 6px #a6a6a6;
}

/** Tabs **/
ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.tabs li {
	display: inline-block;
	margin: 0;
	padding: .5em 1em;
	background: #f0f0f0;
	font-weight:bold;
}
.tab-page {
	background: #f0f0f0;
	padding: 1em;
}
.tab-page h3 {
	margin-top:0;
}
